html {
    font-family: "Roboto", sans-serif;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo General */
  body {
    background-color: #ddfaec; /* Verde claro */
    color: #063a32; /* Verde oscuro */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    width: 50%;
    background-color: #ffff;
  }
  
  .container_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  
  #imagePreview {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .remove-button {
    display: none;
  }
  .separator {
    height: 1px;
    width: 100%;
    background-color: #063a32;
  }
  
  .point {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .line {
    position: absolute;
    background-color: blue; /* Color de la línea */
    height: 2px; /* Grosor de la línea */
    transform-origin: 0 0; /* Origen de transformación */
  }
  .image-container {
    position: relative;
    cursor: crosshair; /* Cambiar el cursor para marcar */
    width: 100%;
    height: 500px;
    display: none; /* Ocultar contenedor inicialmente */
  }
  
  .btn-custom {
    width: 100%;
    margin-bottom: 10px;
  }
  

  .image-container {
    position: relative;
    display: inline-block; /* para ajustar el tamaño al contenido */
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}
