html {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilo General */
body {
  background-color: #ddfaec; /* Verde claro */
  color: #063a32; /* Verde oscuro */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_home {
  gap: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #ffff;
}

.container_button {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
}

.button:hover {
  background-color: #063a32;
}
.btn-custom {
  width: 70%; /* Ancho fijo para ambos botones */
  height: 60px; /* Alto fijo para ambos botones */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 45px;
  padding-bottom: inherit;
}
img {
  width: 320px;
  height: auto;
}

/* Añade esta clase al CSS */
@keyframes mirageEffect {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(25deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.logo {
  animation: mirageEffect 4s infinite ease-in-out;
  transform-style: preserve-3d; /* Para mantener el efecto 3D */
  backface-visibility: hidden; /* Para evitar que se vea la parte trasera en el giro */
}
