<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANÁLISIS VENTRAL-DORSAL</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- Bootstrap Icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/analysis_ventral.css" />
  </head>
  <body id="root">
    <div class="container" id="container">
      <header>
        <h1 class="text-center">ANÁLISIS VENTRAL - DORSAL</h1>
      </header>
      <button id="backImg" class="btn btn-light btn-left-top">
        <i class="bi bi-arrow-left"></i>
      </button>
      <div class="info-img-box" id="infoImgBox">
        <i class="bi bi-info-circle"></i>
        La imagen de la persona debe ser de cuerpo entero con torso desnudo, o
        con ropa ajustada contrastada con el fondo. Preferentemente de espalda a
        la cámara.
      </div>
      <div class="info-box" id="infoBox">
        <i class="bi bi-info-circle"></i>
        Debe marcar los primeros 2 puntos; a la altura del acromion de ambas
        escápulas de la persona.Y los siguientes 2 puntos; a la altura del punto
        más superior de las crestas ilíacas izquierda y derecha para realizar el
        análisis.
      </div>
      <div class="container-card" id="containerCard">
        <div class="card">
          <!-- Botón de subir imagen funcional -->
          <button type="button" id="uploadButton" class="custom-upload">
            <i class="bi bi-camera"></i>
            Subir imagen
          </button>
          <input
            type="file"
            id="uploadImage"
            name="image"
            style="display: none"
            accept="image/*"
            onchange="handleImageUpload(event)"
          />
        </div>
        <div class="card">
          <!-- Botón de subir imagen funcional -->
          <button type="button" id="liveAnalysisBtn" class="custom-upload">
            <i class="bi bi-camera-video"></i>
            Análisis en vivo
          </button>
        </div>
      </div>
      <canvas id="canvas"></canvas>
      <div class="button-container">
        <button
          type="button"
          id="removeLastPoint"
          class="btn btn-light remove-button"
          onclick="handleRemoveLastPoint()"
        >
          <i class="bi bi-arrow-left"></i>
          Remover ultimo punto
        </button>
        <button
          type="button"
          id="analyzeButton"
          class="button btn btn-outline-success btn-custom"
        >
          Analizar puntos
        </button>
      </div>
      <!-- Imagen del feed de video -->
      <img
        id="videoFeed"
        src="{{ url_for('video_feed') }}"
        alt="Video en vivo"
      />
      <button id="captureImageButton" class="button">Capturar</button>
      <!-- Imagen capturada se mostrará aquí -->
      <img id="capturedImage" alt="Imagen Capturada" />
      <ul id="angleList" class="angle-list"></ul>
      <a
        href="{{ url_for('analysis_selection') }}"
        class="btn btn-light btn-bottom-left"
      >
        <i class="bi bi-arrow-left"></i> Volver a sección de análisis
      </a>
    </div>
    <!-- Footer -->
    <footer>
      <p>&copy; 2024 KiEs. Todos los derechos reservados.</p>
    </footer>
    <script src="../static/js/analysis_ventral/script.js"></script>

    <!-- Scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
