<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Informes Guardados</title>
</head>
<body>
    <main>
        <h1>Informes Guardados</h1>
        <ul>
            <!-- Listar informes guardados aquí -->
        </ul>
        <a href="{{ url_for('index') }}" class="button">Volver al Menú Principal</a>
    </main>
</body>
</html>
